---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    title: 'Full Stack Developer',
    company: 'Delta Tactical Gear',
    location: 'Lima, Perú',
    startDate: '2022 - Actualidad',
    endDate: '2020-01-01',
    description:
      'Aplicacion en desarrollo que servirá de ventana digital para mejorar y promocionar los productos de la empresa Delta Tactical Gear, desarrollado con React JS..',
    tags: ['React', 'Redux', 'Mapbox GL JS'],
    link: 'https://www.deltatacticalshop.com/',
  },

  {
    title: 'Front End Developer',
    company: 'Fly Alone',
    location: 'Huancayo, Perú',
    startDate: '2023',
    endDate: '2015-01-01',
    description:
      'Sitio web responsivo, incluye landing page con proyeccion a convertirse en Market place. Desarrollado con React con Vite, Tailwind CSS y Material UI',
    tags: ['React', 'Redux', 'GraphQL'],
    link: 'https://www.google.com/maps',
  },

  {
    title: 'Front End Developer',
    company: 'Pediatra Perú',
    location: 'Huancayo, Perú',
    startDate: '2023',
    endDate: '2019-01-01',
    description:
      'Diseño e implementación de página web para el Dr. Cesar Zaambrano que proporciona información sobre servicios pediatricos. Construido con Wordpress',
    tags: ['React', 'Redux', 'GraphQL'],
    link: 'https://www.google.com/maps',
  },

  {
    title: 'Front End Developer',
    company: 'Small Tube',
    location: 'Proyecto Bootcamp',
    startDate: '2023',
    endDate: '2017-01-01',
    description:
      'SmallTube es una aplicación que guarda tus videos favoritos en un solo lugar, se puede personalizar las categorias, desorrallado con React JS y Material UI.',
    tags: ['React', 'Redux', 'GraphQL'],
    link: 'https://www.google.com/maps',
  },

  {
    title: 'Software Engineer',
    company: 'Lyft',
    location: 'San Francisco, CA',
    startDate: '2011-01-01',
    endDate: '2013-01-01',
    description:
      'I worked on the Lyft team as a full-stack engineer. I helped build the new version of the Lyft website using React, Redux, and GraphQL.',
    tags: ['React', 'Redux', 'GraphQL'],
    link: 'https://www.google.com/maps',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
